/* .App {
  text-align: center;
} */

.App-header {
  background-color: #282c34;
  /* background-image: url('./image1.jpg'); */
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: -40px;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

div.goal, div.objectives-box {
  width: 80%;
  padding: 20px;
  border-style: solid;
  border-radius: 10px;
  border-width: thin;
  background-color: white;
  margin-top: 10px;
  color: black;
}

.new-goal-form {
  width: 45%;
  padding: 30px;
  border-color: #282c34;
  color: white;
  position: relative;
}

.new-objective-form {
  width: 60%;
  padding: 20px;
}

h3.ui.header.tagline {
  color: white;
  padding: 20px;
}

.objective-items {
  list-style: none;
}

body {
  background-color: #282c34;
}

button.ui.red.mini.basic.button.delete-button{
  float: right;
  margin-top: -20px;
}